* {
    font-family: 'Abril Fatface', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: blanchedalmond;
}

.wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
}

.hide {
    display: none;
}

.scores {
    position: absolute;
    top: 10px;
    left: 10px;
}


.feedback {
    font-style: bold;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: pink;
    border-top: 2px solid rgb(201, 193, 193); 
}

/* made timer bigger for better visibility for users */
.timer {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 800;
    font-size: 30px;
}

/* made "view highscore" more visible for users*/
a:hover {
    color: rgb(245, 39, 217);
    text-decoration: none;
    transition: color 0.1s;
}

button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: rgb(19, 0, 128);
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
}

button:hover {
    background-color: rgb(207, 38, 38);
}

.choices button {
    display: block;
}

input[type="text"] {
    font-size: 100%;
}

ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;   
}


#end-screen {
    margin: 100px auto 0 auto;
    max-width: 600px;
}

li {
    padding: 5px;
    list-style: decimal inside none;
}

/* makes every odd number of li tag the color pink */
li:nth-child(odd) {
    background-color: pink;
}
